ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover , .menu:hover {
    background-color: red;
}
.sous-menu {
    display: none;/* rendre le block invesible lors de premier affichage*/
    position: absolute; /* ne change pas la position des */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 10px 18px 16px 0px rgba(0,0,0,0.2); /*ombre le menu
    z-index: 1;/*pour affice en priorité*/
}
.sous-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.sous-menu a:hover {background-color: #00a0a0}

.menu:hover .sous-menu {
    display: block;
}